/* @media (max-width: 800px) {
    .courses {
      font-size: 80%;
    }
    .courses2 {
        font-size: 80%;
      }
      .courses3 {
        font-size: 80%;
      }
      .courses4 {
        font-size: 80%;
      }
      
}
@media (max-height: 350px) {
    footer {
        height: 10%;
        margin-top: 10%;
    }
} */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: flex;
    height: 110vh;
    background-color:white;
}
.search{
    background-color: #E9F7EB;
    width: 80%;
    border-radius: 50px;
    display: flex;
    border: 2px solid #39B54A;
    height: 50px;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: 10%;
}
#Search_area{
    outline: none;
    border: none;
    width: 80%;
    /* height: 50px; */
}
#search_icon{
    font-size: 15px;
    margin: auto auto;
}
input{
    background-color: #E9F7EB;
    border-radius: 50px;
}
nav{
    background-color: white;
    /* border-radius: 0px 30px 0px 0px; */
    height: 100vh;
    flex: 1;
    /* box-shadow: 1px 1px 20px #3333334c; */
   /* border: 10px solid pink; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 13vw;
    /* z-index: 1; */
    /* min-width: 9vw; */
}

/* end of nav */

.content{
    flex: 5;
    display: block;
    /* background-image: url(./images/nspmWave.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#image{
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    margin-top: 3px;
}
.image-text {
    font-size: 25px;
    color:#008837;
    text-align: end;
    font-weight:bold;
    
    padding-top:16px;
}
.head{
    
    margin-left: 3%;
    height: 10%;
    margin-top: 10px;
}
.courses{
    display: block;
    width: 70%;
    margin-top: 15%;
    /* margin-left: 15%; */
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 150;
}
.courses2{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 150;
}
.courses3{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 150;
}
.courses4{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 150;
}
a{
    display: block;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 750;

}
.courses:hover{
    color: #39B54A;
}
.courses2:hover{
    color: #39B54A;
}
.courses3:hover{
    color: #39B54A;
}
.courses3:hover{
    color: #39B54A;
}
.courses4:hover{
    color: #39B54A;
}
a:hover{
    color: #39B54A;
}

#sage{
    flex: 5;
    /* background-color: pink; */
    display: none;
    /* margin-left: 13%; */
}
#loan{
    flex: 5;
    /* background-color: red; */
    display: none;
    /* margin-left: 13%; */
}
#howtos{
    flex: 5;
    /* background-color: blue; */
    display: none;
    /* margin-left: 13%; */
}

.hero{
    display: none;
    flex:5;
}

.page2{
    display: none;
    flex:5;
}
/* .page2{a(p)}{
    display: flex;
} */
.page3{
    display: none;
    flex:5;
}
.page4{
    display: none;
    flex:5;
}
.page5{
    display: none;
    flex:5;
}
.page6{
    display: none;
    flex:5;
}
.page7{
    display: none;
    flex:5;
}
.page8{
    display: none;
    flex:5;
}
.page9{
    display: none;
    flex:5;
}
.page10{
    display: none;
    flex:5;
}
.page11{
    display: none;
    flex:5;
}
.page12{
    display: none;
    flex:5;
}
.page13{
    display: none;
    flex:5;
}
.page14{
    display: none;
    flex:5;
}
.page15{
    display: none;
    flex:5;
}
.page16{
    display: none;
    flex:5;
}

.top-text{
    display: flex;
}











.fa-chevron-down{
    float: right;
}
     /* logo and text starts */

/* #image{
    width: 60px;
    position: absolute;
    left: 86.5%;
    top:3%;
    float: left;
}
.image-text {
    position: absolute;
    left: 91%;
    top:5%;
    font-size: 25px;
    color:#008837;
    font-weight:bold
}                                     logo and text ends */
.back-anchor {
    display: flex;
    margin: 4% 5%;
    text-decoration: none;
    align-content: center;
} 
.back-text,.back-text-2,.back-text-3,.back-text-4,.back-text-5,.back-text-6,.back-text-7,.back-text-8,.back-text-9,.back-text-10,.back-text-11,.back-text-12,.back-text-13,.back-text-14,.back-text-15 ,.back-text-16,.back-text-sage,.back-text-loan,.back-text-howtos,.back-text-sharepoint {
    margin: 0 1%;
    color: #39B54A;
}
.sub-topic {
    font-size: 30px;
    font-weight: 550;
    margin: 0 5%;
}
.stopic-text ,.stopic-text-2,.stopic-text-3,.stopic-text-4,.stopic-text-5,.stopic-text-6,.stopic-text-7,.stopic-text-8,.stopic-text-9,.stopic-text-10,.stopic-text-11,.stopic-text-12,.stopic-text-13,.stopic-text-14,.stopic-text-15,.stopic-text-16,.stopic-text-sage,.stopic-text-loan,.stopic-text-howtos,.stopic-text-sharepoint{
    color: #39B54A;
    /* margin: 0.5% 5%; */
}
.main-text-container {
    margin: 5% 10% 0 5%;
    justify-content: center;
    font-size: 20px;
}
.main-image-1 {
    width: 60vw;
    height: 70vh;
}
.list-items {
    padding-bottom: 20px;
}
.doub-image-div {
    display: flex;
    width: 100%;
}
.flex-image{
    width: 50%;
    margin-left: 0;
    margin-top: 5%;
    padding-right: 5%;
}

footer{
    background-color: #333;
    text-align: right;
    height: 10%;
    color: white;
    padding: 3%;
}
.footer-text{
    margin-right: 5%;
    
}

/* @media screen and (max-width: 400px) {  mobile view */
    /* body {
      background-color: lightgreen;
    } */
     /*nav{
        display: none;
    }
    #image{
        width: 40px;
        margin-left: 20px;
        margin-right: 20px;
        float: right;
        margin-top: 5px;
    }
    .image-text {
        font-size: 20px;
        color:#008837;
        text-align: end;
        font-weight:bold;
        padding-top:12px;
    }
    .fa-bars{
        color: #008837;
        font-size: 30px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .content{
        margin-left: -50px;
    }
     #drop{
        position: relative;
        display: inline-block;
        width: 100%;
        margin-left: 5px;
        height: 100vh;
        background-color: blue; 
        display:grid
    }
    .dropbutton{
        padding: 25px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 7%;
        width: 80%;
        border-radius: 50px;
    }
    .dropbutton_two{
        padding: 25px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 7%;
        width: 80%;
        border-radius: 50px;
    }
    .dropbutton_three{
        padding: 25px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 7%;
        width: 80%;
        border-radius: 50px;
    }
    .dropbutton_four{
        padding: 25px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 7%;
        width: 80%;
        border-radius: 50px;
    /* } 
  }