@media (max-width: 800px) {
    .courses {
      font-size: 80%;
    }
    .courses2 {
        font-size: 80%;
      }
      .courses3 {
        font-size: 80%;
      }
      .courses4 {
        font-size: 80%;
      }
      
}
@media (max-height: 350px) {
    footer {
        height: 10%;
        margin-top: 10%;
    }
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: flex;
    height: 100vh;
    background-color:white;
}
.search{
    background-color: #E9F7EB;
    width: 80%;
    border-radius: 50px;
    display: flex;
    border: 2px solid #39B54A;
    height: 50px;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: 10%;
}
#Search_area{
    outline: none;
    border: none;
    width: 80%;
    /* height: 50px; */
}
#search_icon{
    font-size: 15px;
    margin: auto auto;
}
input{
    background-color: #E9F7EB;
    border-radius: 50px;
}
nav{
    background-color: white;
    border-radius: 0px 30px 0px 0px;
    height: 100vh;
    flex: 1;
    box-shadow: 1px 1px 20px #3333334c;
    /* position: sticky;
    position: -webkit-sticky; */
    position: fixed;
    top: 0;
    left: 0;
    width: 13vw;
    z-index: 1;
}

/* end of nav */

.content{
    flex: 5;
    display: block;
    background-image: url(./images/nspmWave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 12%;
}
#image{
    width: 60px;
    /* position: absolute; */
    /* left: 87%; */
    /* top:3%; */
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    margin-top: 3px;
}
.image-text {
    font-size: 25px;
    color:#008837;
    text-align: end;
    font-weight:bold;
    /* padding-right: 30px; */
    padding-top:16px;
}
.head{
    /* width: 100%; */
    /* background-color: aqua; */
    margin-left: 3%;
    height: 10%;
    margin-top: 10px;
}
.courses{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 550;
}
.courses2{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 550;
}
.courses3{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 550;
}
.courses4{
    display: block;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background: none;
    text-decoration: none;
    color: #333;
    font-weight: 550;
}



.courses:hover{
    color: #39B54A;
}
.courses2:hover{
    color: #39B54A;
}
.courses3:hover{
    color: #39B54A;
}
.courses3:hover{
    color: #39B54A;
}
.courses4:hover{
    color: #39B54A;
}



/* 
#sharepoint{
    flex: 5;
    background-color: aquamarine;
    display: none;
} */


#sage{
    flex: 5;
    background-color: pink;
    display: none;
}
#loan{
    flex: 5;
    background-color: red;
    display: none;
}
#howtos{
    flex: 5;
    background-color: blue;
    display: none;
}
/* .open { */
    /* display: block; */
    /* animation: fadeIn 0.5s ease forwards; */
  /* } */
  
  /* @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */
#drop{
    position: relative;
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    height: 100vh;
    /* background-color: blue; */
     display:grid
}
#drop_one{
    width:100%;
    /* background-color: yellow;  */
    height: 7%;
    border-radius: 15px;
    margin-top: 4%;
}
.dropbutton{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.077) ;
    color: #333;
    padding: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    width: 90%;
    border-radius: 50px;
    text-align: left;
}
.dropdown_content{
    display: none; 
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    z-index: 1;
    padding: 0;
    padding-top: 25px;
}
.dropdown_content a{
    color: #39b549;
    padding:10px 10px 10px 0;
    text-decoration: none;
    display: block;
}
.dropdown_content a:hover {
    background-color: #39b54a0e;
}
.show {
    display:block;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
#drop_two{
    width:100%;
    /* background-color: yellow; */
    height: 7%;
    border-radius: 20px;
}
.dropbutton_two{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.077) ;
    color: #333;
    padding: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    width: 90%;
    border-radius: 50px;
    text-align: left;
}
.dropdown_content_two{
    display: none; 
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    z-index: 1;
    padding: 0;
    padding-top: 25px;
}
.dropdown_content_two a{
    color: #39b549;
    padding:10px 10px 10px 0;
    text-decoration: none;
    display: block;
}
.dropdown_content_two a:hover {
    background-color: #39b54a0e;
}
.show_two {
    display:block;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
#drop_three{
    width:100%;
    /* background-color: yellow; */
    height: 7%;
    border-radius: 15px; 
}
.dropbutton_three{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.077) ;
    color: #333;
    padding: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    width: 90%;
    border-radius: 50px;
    text-align: left;
}
.dropdown_content_three{
    display: none; 
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    z-index: 1;
    padding: 0;
    padding-top: 25px;
}
.dropdown_content_three a{
    color: #39b549;
    padding:10px 10px 10px 0;
    text-decoration: none;
    display: block;
}
.dropdown_content_three a:hover {
    background-color: #39b54a0e;
}
.show_three {
    display:block;animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
#drop_four{
    width:100%;
    /* background-color: yellow; */
    height: 7%;
    border-radius: 15px;   
}
.dropbutton_four{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.077) ;
    color: #333;
    padding: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    width: 90%;
    border-radius: 50px;
    text-align: left; 
}
.dropdown_content_four{
    display: none; 
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    z-index: 1;
    padding: 0;
    padding-top: 25px;
}
.dropdown_content_four a{
    color: #39b549;
    padding:10px 10px 10px 0;
    text-decoration: none;
    display: block;
}
.dropdown_content_four a:hover {
    background-color: #39b54a0e;
}
.show_four{
    display:block;animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.hero{
    display: none;
    flex:5;
    margin-left: 12%;
}
.page2{
    display: none;
    flex:5;
    margin-left: 12%;
}
.page3{
    display: none;
    flex:5;
    margin-left: 12%;
}
.page4{
    display: none;
    flex:5;
    margin-left: 12%;
}
.page5{
    display: none;
    flex:5;
    margin-left: 12%;
}
.page6{
    display: none;
    flex:5;
    margin-left: 12%;
}
.page7{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page8{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page9{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page10{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page11{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page12{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page13{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page14{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page15{
    display: none;
    flex:5;
    margin-left: 12%; 
}
.page16{
    display: none;
    flex:5;
    margin-left: 12%; 
}

















.fa-chevron-down{
    float: right;
}





































                          /* logo and text starts */

/* #image{
    width: 60px;
    position: absolute;
    left: 86.5%;
    top:3%;
    float: left;
}
.image-text {
    position: absolute;
    left: 91%;
    top:5%;
    font-size: 25px;
    color:#008837;
    font-weight:bold
}                                     logo and text ends */
.back-anchor {
    display: flex;
    margin: 4% 5%;
    text-decoration: none;
    align-content: center;
} 
.back-text {
    margin: 0 1%;
    color: #39B54A;
}
.sub-topic {
    font-size: 30px;
    font-weight: 550;
    margin: 0 5%;
}
.stopic-text {
    color: #39B54A;
    margin: 0.5% 5%;
}
.main-text-container {
    margin: 5% 10% 0 5%;
    justify-content: center;
    font-size: 20px;
}
.main-image-1 {
    width: 60vw;
    height: 70vh;
}
.list-items {
    padding-bottom: 20px;
}
.doub-image-div {
    display: flex;
    width: 100%;
}
.flex-image{
    width: 50%;
    margin-left: 0;
    margin-top: 5%;
    padding-right: 5%;
}

footer{
    background-color: #333;
    text-align: right;
    height: 10%;
    color: white;
    padding: 3%;
}
.footer-text{
    margin-right: 5%;
    
}